 
    @{ViewData["Title"] = "Home";
    int[] e = new int[14];
    int month = 0;
    int weekday = 0;
   int _switch = 2; }

@model IEnumerable<Cozumel.Models.Event>

<div class="text-center">
    <h1 class="display-4">Cozumel</h1>
    <p>La isla de nuestras golondrinas.</p>
</div>

<section>
    <div class="grid-container justify-content-center">
        @for (var i = 0; i <= 13; i++)
        {
            //Ajusta la variable month al valor correspondiendte si sobrepasan los dias totales del mes
            if (ViewBag.Days[i] < ViewBag.Days[0])
            {
                month = ViewBag.Month + 1;
            }
            else
            {
                month = ViewBag.Month;
            }
            //Ajusta la varibale weekday si el dia llega a 8
            if ((ViewBag.DayName + i) < 6)
            {
                weekday = ViewBag.DayName + i;
            }
            else
            {
                int x = ViewBag.DayName + i;
                while((x) > 6)
                    {
                    x = x - 7;
                    }
                weekday = x;
            }
            <div class="grid-item">
                <div id="@i" class="grid-item-label">
                    <span class="day"><a asp-controller="Event" asp-action="Day" asp-route-day="@ViewBag.Days[i]" asp-route-month="@month">@ViewBag.Week[weekday]</a></span>
                    <span class="number">@ViewBag.Days[i]</span>
                </div>
                <div>
                    @foreach (var item in Model)
                    {
                        if (item.Date.Day == @ViewBag.Days[i])
                        {
                            if (e[i] > 1)
                            {
                                e[i]++;
                            }
                            else
                            {
                                <a asp-controller="Event" asp-action="Details" asp-route-id="@item.ID"><p class="event-title">• @Html.DisplayFor(modelItem => item.Title)</p></a>
                                e[i]++;
                            }
                        }
                    }
                    @if (e[i] > 2)
                    {
                        <a asp-controller="Event" asp-action="Day" asp-route-day="@ViewBag.Days[i]" asp-route-month="@month"><p class="event-title">• @(e[i]-2) más...</p></a>
                    }
                </div>
            </div>
        }
    </div>
</section>

<section class="mt-5">
    <h2 class="my-3">HOY</h2>
    <hr />
    @foreach (var item in Model)
    {
        if (item.Date.Day == @ViewBag.Days[0] && (_switch == 0 || _switch == 2))
        {
            <div class="row mb-2">
                <div class="col-md-4 col-12 background-red">
                    <a asp-controller="Event" asp-action="Details" asp-route-id="@item.ID"><h5>@item.Title</h5></a>
                    <h6>@item.Address</h6>
                </div>
                <div class="col-md-4 col-12 background-red">
                    <p>@item.Description</p>
                </div>
                <div class="col-md-4 col-12 background-red">
                    <h7>Organiza: <a asp-action="Details" asp-controller="UserManager" asp-route-UserId="@item.RelatedUser.Id"> @item.RelatedUser.UserName</a></h7>
                </div>
            </div>
            _switch = 1;

        }
        else
        {
            if (item.Date.Day == @ViewBag.Days[0] && _switch == 1)
            {
                <div class="row mb-2">
                    <div class="col-md-4 col-12 background-brown">
                        <a asp-controller="Event" asp-action="Details" asp-route-id="@item.ID"><h5>@item.Title</h5></a>
                        <h6>@item.Address</h6>
                    </div>
                    <div class="col-md-4 col-12 background-brown">
                        <p>@item.Description</p>
                    </div>
                    <div class="col-md-4 col-12 background-brown">
                        <h7>Organiza: <a asp-action="Details" asp-controller="UserManager" asp-route-UserId="@item.RelatedUser.Id"> @item.RelatedUser.UserName</a></h7>
                    </div>
                </div>
                _switch = 0;
            }
        }
    }
    @if (_switch == 2)
    {
        <h4>No hay eventos registrados para el día de hoy...</h4>
    }
</section>

<script src="~/lib/jquery/dist/jquery.js"></script>

