@using Cozumel.Models
@inject SignInManager<MyUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="manage-nav-link nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Mi perfil</a></li>
    <li class="nav-item"><a class="manage-nav-link nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Cambiar mi email</a></li>
    <li class="nav-item"><a class="manage-nav-link nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Cambiar contraseña</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="manage-nav-link nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="manage-nav-link nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" id="personal-data" asp-controller="Verification" asp-action="Index">Soliictar verificación de cuenta</a></li>
    <li class="nav-item"><a class="manage-nav-link nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Eliminar cuenta</a></li>
</ul>
