@model IEnumerable<Cozumel.Models.Event>

@{
    ViewData["Title"] = "Listado de eventos";
}

<h1>Listado de eventos</h1>
<a class="float-end" asp-action="DeletePast">Eliminar todos los eventos pasados</a>
<table class="table white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td><a asp-action="Delete" asp-route-id="@item.ID">Borrar</a></td>
            </tr>
        }
        
    </tbody>
</table>